body {
   
    margin: 0;
    padding: 0;
    
}

a {
    color: rgb(205, 208, 211);
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    
    opacity: 0,10;
}

ul.nav-list{
    padding: 100px !important;
    list-style: none;
    display:flex;
    
    
}

.logo {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 15 px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui ;
    background: #053347;
    height: 8vh;       /*caso queira mudar a barra de inicio  */
}

main { 

    background-size: cover;
    height: 92vh; 
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 55px;
}



/* aqui vou mexer na pag de contatos */



@media (max-width: 800px) {
    .nav-list{
        width: 70% ;
        margin-bottom: 0px;

    }
}
@media (max-width:600px) {
    .footer-col{
        width: 100%;
        

    }
}



